<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCS_v3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CCS_v3.My.MySettings.CCS_V3ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\havar\Dropbox\Documents\Fitness all these files\calorie and stuff\CCS V3 DB\CCS_V3.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CCS_v3.My.MySettings>
            <setting name="ButterButton1" serializeAs="String">
                <value>Button 1,Sample Brand,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="ButterButton2" serializeAs="String">
                <value>Button 2,Sample Brand,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="ButterButton3" serializeAs="String">
                <value>Button 3,Sample Brand,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="ButterButton4" serializeAs="String">
                <value>Button 4,Sample Brand,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="ButterButton5" serializeAs="String">
                <value>Button 5,Sample Brand,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="FormCheck" serializeAs="String">
                <value />
            </setting>
        </CCS_v3.My.MySettings>
    </userSettings>
</configuration>